---
const {title, price } = Astro.props;
---

<div class="relative overflow-hidden p-4 shadow-md w-full bg-white  rounded-xl dark:bg-gray-800 dark:border-gray-700">
    <div class="absolute h-2/3 bg-gradient-to-b  to-slate-300 bottom-0 w-full left-0"></div>
    <div class="h-full flex flex-col justify-between z-10 relative">
        <slot name="image" />
        <div class="px-5 pb-5 text-center">
            <h5 class="mt-6 mb-3  dark:text-white">{title}</h5>
            <p class="text-3xl font-semibold  dark:text-white">{price}</p>
        </div>
    </div>
</div>
