---
import Card from "./Card.astro";
import ProductCard from "./ProductCard.astro";
---

<section class="px-4 grid grid-cols-1 sm:grid-cols-[repeat(auto-fit,minmax(220px,1fr))] gap-4 py-12 w-full mx-auto max-w-7xl">
    <Card></Card>   
    <ProductCard></ProductCard>   
    <ProductCard></ProductCard>   
    <ProductCard></ProductCard>   
</section>
