---
import { Image } from 'astro:assets';
const { imageSrc, username} = Astro.props;
---


<div class="testimonial-card relative overflow-hidden p-6 shadow-2xl w-full rounded-xl dark:bg-gray-800 dark:border-gray-700">
    <div class=" h-full flex flex-col gap-4 justify-between z-10 relative">
        <div class="font-light sm:text-lg">
            <p><slot/></p>
        </div>
        <div class="flex items-center gap-4">
            <Image 
                class="rounded-full size-10 object-cover" 
                alt="imagen de perfil"
                width={40}
                height={40}
                src={imageSrc} />
            <div>
                <p class="font-medium"> {username}</p>
            </div>
        </div>
    </div>
</div>
