---
import "../styles/global.css";
const domain = Astro.site;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/icons/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="512x512" href="/icons/android-chrome-512x512.png">
	
		<link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />
		<link rel="manifest" href="/icons/site.webmanifest" />

		<meta name="title" content="Tapiz Guzman">
		<meta name="description" content="Expertos en la Fabricaci贸n y Restauraci贸n de Muebles">

		<meta property="og:image" content={`${domain}images/jpeg/meta-image.jpg`} />
		<meta property="og:title" content="Tapiz Guzman" />
		<meta property="og:description" content="Expertos en la Fabricaci贸n y Restauraci贸n de Muebles" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={domain} />
		<title>Tapiz Guzman</title>
	</head>
	<body class="text-gray-900">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
